@model List<RapidBootcamp.WebApplication.Models.Category>

<html>
    <head>
        <title>List Of Categories</title>
    </head>
    <body>
        <h1>List of Categories</h1>
        <p>@ViewBag.Message</p>
        <a href="/Categories/Create">Create Category</a>
        <form action="/Categories/Index" method="post">
            <input type="text" name="categoryName">
            <input type="submit" value="Search">
        </form>
        <table>
            <tr>
                <th>Id Category</th>
                <th>Category Name</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            @foreach(var category in Model)
            {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.CategoryName</td>
                    <td><a href="categories/details/@category.CategoryId">Details</a></td>
                    <td><a href="categories/edit/@category.CategoryId">Edit</a></td>
                    <td><a href="categories/delete/@category.CategoryId">Delete</a></td>
                </tr>
            }
        </table>
    </body>
</html>
